{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-0" id="product-name-title">Order Information</h3>
                    </div>
                </div>
                <div class="card-body">
                    <!--Section: Block Content-->
                    <section>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-8">

                                <form>
                                    <h6 class="heading-small text-muted mb-4">User information</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                        for="input-username">Fullname</label>
                                                    <input type="text" id="input-username"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Username" value="{{ request.user.username }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">Address</label>
                                                    <input type="text" id="input-address"
                                                        class="form-control form-control-alternative" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-phonenumber">Phone
                                                        Number</label>
                                                    <input type="text" id="input-phonenumber"
                                                        class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-province">City</label>
                                                    <select id="input-province"
                                                        class="form-control form-control-alternative">
                                                    {% for city in cities %} 
                                                    <option value="{{ city.id }}">{{ city.name }}</option>
                                                    {% endfor %} 
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                        for="input-district">District</label>
                                                    <select id="input-district"
                                                        class="form-control form-control-alternative">
                                                      {% for district in districts %} 
                                                      <option value="{{ district.id }}">{{ district.name }}</option>
                                                      {% endfor %} 
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-ward">Ward</label>
                                                    <select id="input-ward"
                                                        class="form-control form-control-alternative">
                                                      {% for ward in wards %} 
                                                      <option value="{{ ward.id }}">{{ ward.name }}</option>
                                                      {% endfor %} 
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h6 class="heading-small text-muted mb-4">Shipment method</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="card card-stats mb-4 mb-xl-0 payment-method" style="cursor: pointer;"
                                                    onclick="changeRadio(this)">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="card-title text-uppercase text-muted mb-0">
                                                                    Standard Delivery</h5>
                                                                <p class="h2 font-weight-bold mb-0">$0.8</p>
                                                                <small>Est. 5 - 7 days</small>
                                                            </div>
                                                            <div class="col-auto">
                                                                <div
                                                                    class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                                    <i class="ni ni-pin-3"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card card-stats mb-4 mb-xl-0 payment-method" style="cursor: pointer;"
                                                    onclick="changeRadio(this)">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="card-title text-uppercase text-muted mb-0">
                                                                    Express Delivery</h5>
                                                                <p class="h2 font-weight-bold mb-0">$2.0</p>
                                                                <small>Est. 1 - 4 days</small>
                                                            </div>
                                                            <div class="col-auto">
                                                                <div
                                                                    class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                                    <i class="ni ni-spaceship"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-4">

                                <!-- Card -->
                                <div class="mb-3">
                                    <div class="pt-4">

                                        <ul class="list-group list-group-flush">
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                Temporary amount
                                                <span>$25.98</span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                Shipping
                                                <span>$19.00</span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                <div>
                                                    <strong>The total amount of</strong>
                                                    <strong>
                                                        <p class="mb-0">(including VAT)</p>
                                                    </strong>
                                                </div>
                                                <span><strong>$53.98</strong></span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                <div>
                                                    <strong>Discount code</strong>
                                                </div>
                                                <span><strong>1789TYV6</strong></span>
                                            </li>
                                        </ul>

                                        <button type="button" class="btn btn-primary btn-block">Confirm Order</button>

                                    </div>
                                </div>
                                <!-- Card -->

                            </div>
                            <!--Grid column-->

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!--Section: Block Content-->
                </div>
            </div>

            <script>
                function changeRadio(element) {
                    var listPaymentMethod = document.getElementsByClassName("payment-method");
                    for(var i = 0; i < listPaymentMethod.length; i++){
                        listPaymentMethod[i].classList.remove('border-success');
                    }
                    element.classList.add('border-success');
                }
            </script>

            {% include "includes/footer.html" %}

        </div>

        {% endblock content %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}
    </div>
</div>